.main-page {
    text-align: center;
    margin: 50px;
}

.main-page h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.main-page form {
    margin-bottom: 20px;
}

.main-page input {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
}

.main-page button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: blue;
    color: white;
}

.main-page .search-results {
    margin-top: 50px;
    text-align: left;
}

.main-page .search-results h2 {
    margin-bottom: 10px;
}